.box5{
    width: 100%;
    height: 50%;
    background: url("images/shouye.jpg");
    border-radius: 3px;
    filter:alpha(opacity=50);
}
.box6{
    width: 47%;
    display: inline-block;
    height: 13%;
    background-color: #3994E5;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 1.2%;
}
.box7{
    width: 95%;
    margin: auto;
    height: 450px;
}
.box8{
    width: 48%;

}




.head{
    background-color:;
    margin-right: 3%;
    margin-left: 3%;
}
body{width:100%;font-family:serif,"Microsoft YaHei",Helvetica,Arial,sans-serif;font-size:15px;color:#323232}
div a { 
        text-decoration:none;
        font-size: 14px;
   }

.navi ul li{color: #FFA900;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 320px){}
.navi{
    margin-left: -12%;
width: 100%;
}


input,select,li{vertical-align:middle;}


#box{box-pack:center;
     display:-moz-box;
     display:-webkit-box;
     display : box;
     box-orient: vertical;
     -mozbox-box-orient: vertical;
     -webkit-box-orient:vertical;
     width: 100%;
 
}

#box1{
    box-flex: 1;
    width:108%;

}
#box2{
    box-flex: 1;
    margin-bottom: 10px;
}



#box1 div, #box2 div { display:inline-block; 
 width:30%;
 margin-left: -10%;
margin-top: 2%;
 padding:0px;
}

.town a,.towns a{
    font-size:14px;

}

#box3 {
  width: 85%;
padding: 0px;
margin: auto;
margin-top: 4%;
}
#box3 div{
    display: inline-block;
    width: 17%;
    height: 4%;
    vertical-align: middle;
    margin-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 0%;


}
#box3 div a{
    margin: 0px;
    padding: 0px;
}

#box4 div{
    display: inline-block;
    height: 13%;
    width: 29%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1%;
}
img{ 
max-width:50%;height:auto; 
margin-right: 50px;
margin-left: 50px;
}

.spanstyle{
    padding-left: 64px; 
    font-size: 14px;
}


.town{
    background-color: #E1DCD7;
    padding-left:6%;
   
}
.towns{
    padding-left: 5%;
    
    background-color: #E1DCD7;

}
.boxhead{
    padding-left: 5px;
    color: #22cdd3;
    font-weight: bold;
    padding-top: 5px;
}

#ui-bar{margin-left: 50px;

}

.footset{
    margin-left: 3px;
    margin-right: 3px;

}

