.head{
    background-color: yellow;
}
body{width:100%;font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;font-size:16px;color:#323232}
div a { 
        text-decoration:none;
        font-size: 15px;
   }

.navi ul li{color: #FFA900;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 320px){}
.navi{
    margin-left: -35px;
    width:320px; 
}


input,select,li{vertical-align:middle;}


#box{box-pack:center;
     display:-moz-box;
     display:-webkit-box;
     display : box;
     box-orient: vertical;
     -mozbox-box-orient: vertical;
     -webkit-box-orient:vertical;
     width: 320px;
 
}

#box1{
    box-flex: 1;

}
#box2{
    box-flex: 1;
    margin-bottom: 10px;
}



#box1 div, #box2 div { display:inline-block; 
 width:32%;
 margin-left: -8%;
 padding:0px;
}

.town a,.towns a{
    font-size:14px;

}


#box3 div{
    display: inline-block;
    width: 10.2%;
    height: 13%;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1%;


}


#box4 div{
    display: inline-block;
    height: 13%;
    width: 29%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1%;
}
img{ 
max-width:50%;height:auto; 
margin-right: 50px;
margin-left: 50px;
}

.spanstyle{
    padding-left: 58px; 
    font-size: 14px;
}


.town{margin-left: 100px;
    background-color: #E1DCD7;
    padding-left:10px; 
    padding-right: 10px;
   
}
.towns{
    padding-right: 10px;
    padding-left: 10px;
    
    background-color: #E1DCD7;

}
.boxhead{
    padding-left: 15px;
    color: gray;
    font-weight: bold;
}

#ui-bar{margin-left: 50px;

}

.footset{
    margin-left: 2px;
    margin-right: 2px;

}

