.head{
	background-color: yellow;
}

div a { 
	    text-decoration:none;
        font-size: 15px;
   }

.navi ul li{color: #FFA900;
 	display: inline-block;}


.navi{
    margin-left: -30px;
}

input,select,li{vertical-align:middle;}


#box{box-pack:center;
	 display:-moz-box;
     display:-webkit-box;
     display : box;
     box-orient: vertical;
     -mozbox-box-orient: vertical;
     -webkit-box-orient:vertical;
 
}

#box1{
    box-flex: 1;

}
#box2{
    box-flex: 1;
}



#box1 div, #box2 div { display:inline-block; 
 width:120px;}

#box3 div{
    display: inline-block;
    width: 52px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-top: 10px;


}


#box4 div{
    display: inline-block;
    height: 40px;
    width: 128px;
    text-align: center;
    padding-top: 20px;
}
img{ 
max-width:50%;height:auto; 
margin-right: 50px;
margin-left: 50px;
}

.spanstyle{
    padding-left: 66px; 
}


.town{margin-left: 60px;
    background-color: #E1DCD7;
    padding-left:10px; 
    padding-right: 10px;
   
}
.towns{
    padding-right: 10px;
    padding-left: 10px;
    
    background-color: #E1DCD7;

}
.boxhead{
    padding-left: 15px;
    color: gray;
    font-weight: bold;
}

#ui-bar{margin-left: 50px;

}

.footset{
    margin-left: 15px;
    margin-right: 15px;
}