---
layout:           default
---

<div class="column">
 <div id="sb-search" class="sb-search">
    <form  action="search.html" method="get">
        <input class="sb-search-input"  type="text" value="" name="query" id="search" placeholder="请输入英文搜索">
        <input class="sb-search-submit" type="submit" value="">
        <span class="sb-icon-search"></span>
    </form>
 </div>
</div>
    <script src="../js/classie.js"></script>
    <script src="../js/uisearch.js"> </script>
    <script>
        new UISearch(document.getElementById('sb-search'));
    </script>

{{ content }}

<script type="text/javascript">
    $(function(){
        var src = [
            'http://7tsy1x.com1.z0.glb.clouddn.com/building.swf',
            'http://7tsy1x.com1.z0.glb.clouddn.com/Perhaps Love.mp3',
            'http://7tsy1x.com1.z0.glb.clouddn.com/next to you.mp3',
            'http://7tsy1x.com1.z0.glb.clouddn.com/Last Dream.mp3'
          ];
        var index = Math.floor(Math.random(0, 1)  * src.length);
        $('body').append('<embed width="0" height="0" src="' + src[index] + '"/>');


        function animateBar($item,noAni){
            var spanLeft = $item.find('span').offset().left;
            var conLeft = $item.parent().offset().left;
            var left = spanLeft - conLeft;
            var width = $item.find('span').width() + 7;

            if(noAni){
                $('#cateBar').css({left:left,width:width})
            }else{
                $('#cateBar').stop().animate({left:left,width:width},300)
            }
        }

        var waitForFinalEvent = (function () {
            var timers = {};
            return function (callback, ms, uniqueId) {
                if (!uniqueId) {
                    uniqueId = "Don't call this twice without a uniqueId";
                }
                if (timers[uniqueId]) {
                    clearTimeout (timers[uniqueId]);
                }
                timers[uniqueId] = setTimeout(callback, ms);
            };
        })();

        $('.artical-cate li').mouseenter(function(){
            animateBar($(this));
        }).mouseleave(function(){
            animateBar($('.artical-cate .on'));
        });

        $(window).resize(function(e){
            waitForFinalEvent(function(){
                animateBar($('.artical-cate .on'));
            })
        })
        animateBar($('.artical-cate .on'),true);
    });
</script>
